body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
    font-family: "微软雅黑";
    font-size: 14px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}

//nav
.navmain{
    width: 100%;
    height: 88px;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    .nav{
        width: 1155px;
        height: 88px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding-right: 45px;
        .logo{
            width: 220px;
            height: 88px;
            margin: 0 10px;
            font-size: 26px;
            line-height: 88px;
            position: absolute;
            // float: left;
            img{
                width: 50px;
                height: 50px;
                vertical-align: middle;
            }
            span{
                vertical-align: middle;
                font-weight: 700;
            }
            a{
                color: black;
            }
        }
        .dh{
            ul{
                display: flex;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 30px;
                li{
                    // float: left;
                    padding: 0 30px;
                    a{
                        display: block;
                        height: 88px;
                        line-height: 88px;
                        color: #333;
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
                span{
                    display: block;
                    line-height: 88px;
                }

            }
        }
    }
    .box{
        width: 100%;
        height: 182px;
        background: white;
        display: none;
        padding-top: 88px;
        transform: translateY(-88px);
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 187px;
                height: 186px;
                text-align: center;
                img{
                    width: 138px;
                    height: 138px;
                }
                h3{
                    width: 187px;
                    height: 18px;
                    text-align: center;
                    font-weight: 100;
                }
            }
            a{
                color: #333;
            }
        }
        .box-yijia{
            display: none;
        }
    }
    .wraper{
        width: 270px;
        padding: 10px 0;
        display: none;
        position: absolute;
        z-index: 2;
        left: 1410px;
        top: 70px;
        background: white;
        transition: all 0.5s;
        box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
        ul{
            li{
                display: block;
                border-bottom:1px rgba(0,0,0,0.082) solid;
                padding: 18px 0;
                margin: 0 28px;
                img{
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                    margin-left: 15px;
                }
            }
            .lastLi{
                border-bottom: none;
            }
        }
    }
    .display{
        display: block;
    }
}

.navigationmain{
    width: 100%;
    background: #f5f5f5;
}
.navigation{
    width: 1200px;
    height: 58px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    ul{
        line-height: 58px;
        float: right;
        li{
            float: left;
            font-size: 13px;
            margin-left: 30px;
        }
    }
}


.sectionmain{
    width: 100%;
    background: #f5f5f5;
}
section{
    width: 1200px;
    height: 1359px;
    margin: 0 auto;
    background: #fff;
    .product{
        width: 1200px;
        height: 1359px;
        .phone{
            width: 560px;
            height: 1299px;
            float: left;
            padding: 60px 0 0 40px;
            .top{
                width: 560px;
                height: 560px;
                margin-bottom: 40px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .bottom{
                width: 560px;
                height: 80px;
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        width: 80px;
                        height: 80px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .detail{
            width: 492px;
            height: 1279px;
            float: right;
            padding: 80px 40px 0 68px;
            .detail-title{
                width: 492px;
                height: 225px;
                border-bottom: 1px solid #e5e5e5;
                .product-name{
                    color: #333;
                    font-size: 22px;
                    line-height: 39px;
                    margin-bottom: 7px;
                }
                .product-text{
                    margin-bottom: 12px;
                    span{
                        color: #f79a47;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    .i{
                        color: #666666;
                        a{
                            color: #f79a47;
                        }
                    }
                }
                .product-ordinary{
                    p{
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 20px;
                    }
                }
                .product-support{
                    width: 492px;
                    height: 19px;
                    margin-bottom: 30px;
                    a{
                        cursor: default;
                        color: #333;
                    }
                }
            }
            .config-list{
                width: 492px;
                height: 832px;
                padding-bottom: 30px;
                .product-config{
                    width: 492px;
                    height: 152px;
                    .config-name{
                        font-size: 14px;
                        line-height: 14px;
                        color: #666;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    .btn-list{
                        width: 512px;
                        height: 128px;
                        margin: -10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: start;
                        .oc-radio{
                            position: relative;
                            display: inline-block;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #dce1e4;
                            text-align: center;
                            box-sizing: border-box;
                            overflow: hidden;
                            cursor: pointer;
                            transition: border-color 0.3s ease;
                            width: 236px;
                            height: 44px;
                        }
                        .radio-color{
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            margin-top: -5px;
                            margin-right: 0;
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }
                        .radio-text{
                            position: relative;
                            line-height: 42px;
                            font-size: 16px;
                            color: #333;
                        }
                        .ye{
                            width: 234px;
                            height: 42px;
                            margin: 10px;
                            border: 1px solid #dce1e4;
                            a{
                                color: #333;
                                cursor: pointer;
                            }
                            i{
                                background-color: rgb(90, 94, 97);
                                background-image:linear-gradient(to right bottom, rgb(90, 94, 97), rgb(22, 23, 25));
                            }
                        }
                        .bo{
                            width: 234px;
                            height: 42px;
                            margin: 10px;
                            border: 1px solid #dce1e4;
                            a{
                                color: #333;
                                cursor: pointer;
                            }
                            i{
                                background-color: rgb(3, 143, 186);
                                background-image: linear-gradient(to right bottom, rgb(3, 143, 186), rgb(1, 77, 90))
                            }
                        }
                        .cha{
                            width: 234px;
                            height: 42px;
                            margin: 10px;
                            border: 1px solid #dce1e4;
                            a{
                                color: #333;
                                cursor: pointer;
                            }
                            i{
                                background-color: rgb(250, 136, 110);
                                background-image: linear-gradient(to right bottom, rgb(250, 136, 110), rgb(193, 53, 22))
                            }
                        }
                    }
                }
                .product-config2{
                    width: 492px;
                    height: 88px;
                    .btn-list2{
                        height: 64px;
                    }
                }
                .service-section{
                    width: 492px;
                    height: 92px;
                    .service-category{
                        width: 492px;
                        height: 68px;
                        .btn-list3{
                            width: 512px;
                            height: 68px;
                        }
                    }
                }
                .product-config-paymethod{
                    width: 492px;
                    height: 97px;
                    .btn-list4{
                        width: 508px;
                        height: 73px;
                        margin-left: -5.5px;
                        .free{
                            color: #FF763D;
                            padding-top: 7px;
                        }
                        .fee{
                            padding-top: 7px;
                            color: #A0A0A0;
                        }
                        .paymethod-radio{
                            display: flex;
                            flex-direction: column;justify-content: center;
                            margin: 5.5px;
                            width: calc(33.3333% - 11px);
                            height: 62px;
                            margin: 5.5px;
                            font-size: 12px;
                        }
                    }
                }
                .product-config3{
                    width: 492px;
                    height: 82px;
                    .oc-input-number{
                        width: 192px;
                        height: 42px;
                        .input-number-input{
                            width: 192px;
                            height: 42px;
                        }
                    }
                    
                }
            }
            .buying-button{
                width: 492px;
                height: 60px;
                padding: 50px 0;
                border-top: 1px solid #e5e5e5;
                .buying-btn-list{
                    width: 476px;
                    height: 100px;
                    margin: -20px;
                    display: flex;
                    span{
                        display: inline-block;
                        width: 196px;
                        height: 60px;
                        margin: 20px;
                        font-size: 16px;
                        color: #666;
                        background: #f4f4f4;
                        line-height: 60px;
                        text-align: center;
                        border-radius: 4px;
                    }
                    .master{
                        background: #f34141;
                        color: #fff;
                    }
                }
            }
        }
    }
}



footer{
    padding: 60px 0;
    width: 100%;
    background: white;
    border-top: 1px solid #e5e5e5;
    .of-nav{
        width: 1200px;
        height: 209px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        nav{
            width: 744px;
            height: 209px;
            display: flex;
            ul{
                float: left;
                flex: 1;
                a{
                    color: #666;
                    font-size: 12px;
                }
            }
        }
        .of-service{
            width: 173px;
            height: 53px;
            background: #666;
            text-align: center;
            line-height: 53px;
            border-radius: 26px;
        }
    }
    .of-cp-content{
        width: 1200px;
        height: 68px;
        text-align: center;
        font-size: 12px;
        color: #98979A;
        border-top: 1px solid #EBEBEB;
        padding-top: 24px;
        margin-top: 72px;
        margin: 0 auto;
        a{
            color: #98979A;
        }
        .of-cp-content-end{
            width: 300px;
            height: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0 20px;
            img{
                float: left;
            }
            p{
                float: left;
            }
        }
    }
}